* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.language-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
}

#language-select {
    background-color: #23a6d5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#language-select:hover {
    background-color: #1b85b8;
}

.container {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.custom-file-input, .custom-select, .custom-button {
    display: block;
    width: calc(100% - 40px);
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.custom-file-input {
    background-color: #eee;
    cursor: pointer;
}

.custom-select {
    background-color: #eee;
    cursor: pointer;
}

.custom-button {
    background-color: #23a6d5;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #1b85b8;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.image-item {
    width: 23%;
    border-radius: 8px;
    overflow: hidden;
    cursor: move;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.image-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
}
